{block content}
    <h1 n:block="title">Rezervační systém kapely DayDreams</h1>

    {control reservationForm}
    <a n:href="AdminPage:default">Přejít na administraci</a>
    <div><a n:href="Homepage:default">Zpět na výchozí stránku</a></div>
{/block}