{block content}
<h1 n:block=title>Přihlášení</h1>

{include bootstrap-form signInForm}

<p><a n:href="up">Ještě nemáte účet? Zde se zaregistrujte.</a></p>
<div><a n:href="Homepage:default">Zpět na výchozí stránku</a></div>
