{block content}
<h1 n:block=title>Sign Up</h1>

{include bootstrap-form signUpForm}


<p><a n:href="in">Již máte účet vytvořený? Přihlašte se zde.</a></p>
<div><a n:href="Homepage:default">Zpět na výchozí stránku</a></div>
